<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- axios -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js' integrity='sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==' crossorigin='anonymous'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>email list </title>
</head>
<body>
  <div id="app">
    <ul v-if="listaEmail.length === 10">
      <h3>Lista email random</h3>
      <li v-for="mail in listaEmail ">{{mail}}</li>
    </ul>
    <h3 v-else>loading</h3>
  </div>
  

  <script src="script.js"></script>
</body>
</html>